body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

header {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

nav ul li a:hover {
    background: #0074D9;
}

nav ul li a.active {
    background-color: #0074D9; /* Couleur de surbrillance */
    color: white; /* Couleur du texte pour la section active */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hero {
    width: 100%;
    height: 100%;
    background: url('../contents/background2.jpg') no-repeat center center/cover;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes blurIn {
    0% {
        backdrop-filter: blur(20px);
    }
    100% {
        backdrop-filter: blur(5px);
    }
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
    animation: blurIn 3s ease-in-out;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center; /* S'assurer que le texte est centré */
}

.hero h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 5px;
}

section {
    padding: 60px 20px;
    text-align: center;
    margin: 20px 0;
    border-radius: 10px;
}

section h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    margin-bottom: 20px;
    color: #0074D9;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.photo-grid img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-item {
    padding: 20px;
    border-radius: 8px;
    max-width: 300px;
    text-align: left;
}

.project-item img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 10px;
}

.project-item h3 {
    margin-top: 0;
}

.skills-interests {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.skills, .interests {
    max-width: 300px;
    text-align: left;
}

.skills ul, .interests ul {
    list-style: none;
    padding: 0;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background: #0074D9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.social-links a {
    color: #0074D9;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #005bb5;
}

.about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.about-text {
    flex: 1 1 70%;
    min-width: 250px; /* Pour garantir une bonne flexibilité */
    text-align: center;
}

.about-text p {
    font-size: large;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.about-photo {
    flex: 1 1 60%;
    min-width: 150px; /* Pour garantir une bonne flexibilité */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.experience-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.experience-item {
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    text-align: left;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content .heart {
    color: #e25555;
    font-size: 1.2em;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    nav {
        background: transparent;
    }
    nav ul {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 20px;
        left: 0;
        width: 100%;
        padding: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        color: black;
        padding: 10px 15px;
        border-radius: 5px;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 15px;
        left: 20px;
        z-index: 1001;
    }

    .menu-toggle div {
        width: 30px;
        height: 3px;
        background: black;
        margin: 5px;
        transition: all 0.3s ease;
    }

    .menu-toggle.active .bar1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle.active .bar2 {
        opacity: 0;
    }

    .menu-toggle.active .bar3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    nav ul.active {
        display: flex;
    }
}
